@import "./functions";

// default font size is 1.6rem
@mixin font-size-rem($size: 1.6) {
  font-size: $size + rem;
}

@mixin set-font-color($color){
  @if map-has-key($color-map, $color){
    color : map-get($color-map, $color);
  }
  @else{
    // default color is black
    color: #0d0d0d;
  }
}